@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    text-align: center;
    background: linear-gradient(#131313, #293150);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.name_image{
    position: absolute;
    width: 60%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -220%);
    
}

.card_harry_potter{
    width: 100%;
    max-width: 520px;
}

.character{
    width: 45%;
    z-index: -1;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 59%);
    
}

.character-data{
    position: absolute;
    font-weight: 500;
    bottom: 10.4%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(1.5rem, 2vw + 0.5rem, 1.9rem);
    white-space: nowrap;
    text-align: center;
}


.character-name{
    color: #313030;
    text-transform: capitalize;
}

.buttons{
    position: absolute;
    left: 50%;
    width: 50%;
    margin-top: 10%;
    transform: translate(-50%, 0);
    display: flex;
    gap: 20px;
}

.button{
    width: 50%;
    padding: 4%;
    border: 2px, solid, #1b1b1b;
    font-size: clamp(1.5rem, 2vw + 0.5rem, 1.9rem);
    white-space: nowrap;
    text-align: center;
    font-weight: 350;
    color: #131313;
    background-color: #c9a858;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: -2px 3px 0 rgb(58, 49, 33), 4px 6px 0 black;
}

.button:active{
    box-shadow: inset -4px 4px 3px rgb(34, 28, 21);
    font-size: 1.6rem;
}

